/* ============================================= */
/* 1. VARIÁVEIS GLOBAIS E RESET                */
/* ============================================= */
:root {
  /* Cores */
  --brand-light: #59b2ff;
  --brand-mid: #3487cf;
  --brand-dark: #1d6fb6;
  --purple: #b259ff;
  --fuschia: #ff59f9;
  --pink: #ff598b;
  --orange: #ff8b59;
  --yellow: #ffcd59;
  --lime: #e1ff59;
  --green: #59ff91;
  --cyan: #59fff9;
  --navy: #6a59ff;
  --danger: #ff5959;
  --input-base: #1c1f21;
  --input-stroke: #363b40;
  --input-placeholder: #869198;
  --shape-background: #131516;
  --shape-body: #212427;
  --shape-button: #2d3136;
  --shape-hover: #383d42;
  --text-body: #c8cdd0;
  --text-heading: #f9f9f9;

  /* Tipografia */
  --font-family-logo: "Leckerli One", cursive;
  --logo: normal normal 400 40px / normal var(--font-family-logo);
  --font-family-heading: "Baloo 2", sans-serif;
  --h2: normal normal 800 28px / normal var(--font-family-heading);
  --h3: normal normal 800 18px / normal var(--font-family-heading);
  --font-family-body: "Open Sans", sans-serif;
  --body-md-regular: normal normal 400 16px / normal var(--font-family-body);
  --body-md-semibold: normal normal 600 16px / normal var(--font-family-body);
  --body-sm-regular: normal normal 400 14px / normal var(--font-family-body);
  --body-sm-semibold: normal normal 600 14px / normal var(--font-family-body);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ============================================= */
/* 2. LAYOUT PRINCIPAL (BODY, ASIDE, MAIN)     */
/* ============================================= */
body {
  background-color: var(--shape-background);
  height: 100vh;

  display: grid;
  grid-template-columns: 400px 35%;
  align-items: center;
  justify-content: center;

  gap: 2rem;
  padding: 2rem;
  overflow: hidden;
}

aside.invite {
  background: url(../assets/images/Background.png) center/cover no-repeat;
  border-radius: 2rem;
  padding: 32px;
  top: 2rem;
  height: calc(100dvh - 4rem);
  overflow: hidden;
  max-width: 400px;
  width: 100%;
}

main {
  height: calc(100dvh - 4rem);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--shape-button) transparent;
  padding: 1rem;
}

/* ============================================= */
/* 3. ESTILOS GERAIS DE TEXTO E TÍTULOS        */
/* ============================================= */
aside h1 {
  font: var(--logo);
  color: var(--pink);
}

aside p {
  font: var(--body-sm-regular);
  color: var(--text-heading);
}

main h2 {
  font: var(--h2);
  color: var(--text-heading);
}

main h3 {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font: var(--h3);
  color: var(--text-heading);

  margin: 1.5rem 0 1.5rem 0;
}

span {
  display: flex;
  align-items: center;
}

fieldset {
  border: none;
  padding-bottom: 3rem;
  border-bottom: 1px solid var(--input-stroke);
}

.inputs-container {
  color: var(--text-body);
  font: var(--body-md-regular);
}

legend {
  margin: 16px 0px 12px 0px;
}

label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  cursor: pointer;
}

input,
textarea {
  width: 100%;
  max-width: 100%;
  padding: 1rem;
  border-radius: 0.75rem;
  border: 1px solid var(--input-stroke);
  background-color: var(--input-base);
  color: var(--input-placeholder);
  font: var(--body-md-regular);
}

.flex {
  display: flex;
  gap: 1rem;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

/* ============================================= */
/* 5. COMPONENTES ESPECÍFICOS                  */
/* ============================================= */

.checkbox {
  display: flex;
  align-items: center;
  background-color: var(--input-base);
  position: relative;
  gap: 1rem;
  border-radius: 0.75rem;
  padding: 0.6rem;
  border: 1px solid var(--input-stroke);
}

.checkbox input[type="radio"] {
  display: none;
}

.checkbox label {
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 0.65rem;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.checkbox input[type="radio"]:checked + label {
  background-color: var(--shape-button);
  color: var(--text-heading);
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.2);
}

.checkbox label:hover {
  background-color: var(--shape-hover);
}

.radio-image-on,
.radio-image-pres {
  width: 1rem;
  aspect-ratio: 1/1;
  background-size: contain;
  background-repeat: no-repeat;
}

.radio-image-on {
  background-image: url(../assets/icons/video.svg);
}

.radio-image-pres {
  background-image: url(../assets/icons/building.svg);
}

.visual span {
  display: flex;
  gap: 0.5rem;
  font: var(--h3);
  color: var(--text-heading);
  margin-bottom: 1.62rem;
  margin-top: 3rem;
}

.visual p {
  color: var(--text-heading);
  font: var(--body-sm-regular);
}

.visual #tema-paragrafo {
  margin: 1rem 0 1rem 0;
}

.color-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  margin-top: 1rem;
}

.color-container div {
  width: 2.5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 6px solid var(--shape-button);
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.color-container div:hover {
  transform: scale(1.1);
}

#brand-light {
  background-color: var(--brand-light);
}
#navy {
  background-color: var(--navy);
}
#purple {
  background-color: var(--purple);
}
#fuschia {
  background-color: var(--fuschia);
}
#pink {
  background-color: var(--pink);
}
#danger {
  background-color: var(--danger);
}
#orange {
  background-color: var(--orange);
}
#yellow {
  background-color: var(--yellow);
}
#lime {
  background-color: var(--lime);
}
#green {
  background-color: var(--green);
}
#cyan {
  background-color: var(--cyan);
}

.tema {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.tema div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--shape-button);
  border-radius: 0.5rem;
  border: 1px solid var(--input-stroke);
  padding: 0.25rem 0.25rem 0 0.25rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.tema div p {
  margin: 5px;
}

p:has(~ div.input-file-container) {
  margin: 1rem 0 1rem 0;
}

.tema div:hover {
  transform: scale(1.05);
  border-color: var(--brand-light);
}

.tema img {
  width: 100%;
  border-radius: 0.25rem;
}

.input-file-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.input-file {
  display: none;
}

.input-file-trigger {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background-color: #4a4a4a;
  color: var(--text-heading);
  font: var(--body-sm-regular);
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.input-file-trigger:hover {
  background-color: var(--shape-hover);
}

.file-name {
  font: var(--body-sm-regular);
  color: var(--input-placeholder);
}

.termos-e-condicoes {
  margin-top: 2rem;

& a {
    color: var(--brand-dark);
}

}

.child-terms {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 1rem;
}

.child-terms label {
  font: var(--body-sm-regular);
  color: var(--text-body);
  justify-content: flex-start;
}

.child-terms input[type="checkbox"] {
  width: auto;
}


.button-submit {
  display: flex;
  justify-content: flex-end;
  button {
    display: flex;
    justify-items: flex-end;
    gap: 0.75rem;

    font: var(--body-md-regular);
    color: var(--text-heading);

    background-color: var(--brand-dark);
    padding: 13px;
    border-radius: 0.7rem;

    border: none;
  }
}

