aside {
    background-image: url(../assets/Background.png);
    background-size: cover;
    width: 400px;
    height: 728px;
    padding: 32px;

    border-radius: 2rem;
    margin: 3rem;

    h1 {
        font: var(--logo);
        color: var(--pink);
    }
    p {
        font: var(--body-sm-regular);
        color: var(--text-heading);
    }
}
