aside.invite {
  background: url(../assets/images/Background.png) center/cover no-repeat;
  border-radius: 2rem;
  padding: 32px;
  top: 2rem;
  height: calc(100dvh - 4rem);
  overflow: hidden;
  max-width: 400px;
  width: 100%;
}

aside h1 {
  font: var(--logo);
  color: var(--pink);
}

aside p {
  font: var(--body-sm-regular);
  color: var(--text-heading);
}
